{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block page_title %}Message à la Nation du Président Macky Sall du 11 mai 2020{% endblock %}

{% block body %}
    {{ super() }}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead">
                <p>Mes chers compatriotes,</p>

                <article>
                    J’ai souhaité m’adresser à vous ce soir pour vous entretenir de la situation liée
                    à l’évolution de la pandémie du COVID-19.
                </article>
                <article>
                    Vous le savez, dès l’apparition du premier cas le 2 mars dernier, le Gouvernement a mis en place
                    une stratégie de contingentement de la maladie que nous avons ajustée au fur et à mesure de son évolution.
                </article>
                <article>
                    C’est ainsi que, tenant compte du risque de calamité publique lié à la pandémie, j’ai proclamé,
                    le 23 mars, l’état d’urgence assorti d’un couvre-feu sur l’ensemble du territoire national.
                </article>
                <article>
                    Plus de deux mois après, et malgré le rythme de progression de la maladie, notre système de santé
                    s’est montré résilient face à une pathologie pourtant inédite et particulièrement contagieuse.
                </article>
                <article>
                    Nous le devons surtout à la compétence et au courage remarquables de notre personnel de santé.
                    Les propos poignants de malades guéris en sont les meilleurs témoignages.
                </article>
                <article>
                    Je renouvelle nos chaleureux remerciements et notre profonde gratitude au corps médical,
                    para médical et au personnel de soutien, tous engagés jour et nuit dans une bataille risquée contre
                    une maladie vicieuse, encore largement inconnue.
                </article>
                <article>
                    C’est pourquoi je tiens particulièrement à la protection des personnels de santé.
                    Des mesures spéciales de sécurisation devront être aménagées partout
                    pour éviter leur contamination.
                </article>
                <article>
                    Je félicite les équipes du Ministère de la Santé et de l’Action sociale et tous les autres
                    Services de l’Etat mobilisés dans la lutte.
                </article>
                <article>
                    Je salue et encourage nos Forces de défense et de sécurité déployées sur l’ensemble du
                    territoire national pour veiller à l’application des mesures édictées
                    dans le cadre de l’état d’urgence.
                </article>
                <article>
                    Je remercie nos guides spirituels, les leaders d’Associations religieuses, toutes confessions
                    confondues, les autorités coutumières, ainsi que les mouvements citoyens
                    qui soutiennent et facilitent l’action de l’Etat dans la riposte au COVID-19.
                </article>
                <article>
                    Je prie pour le repos de l’âme de nos morts du COVID-19, d’ici et de la diaspora. Je présente
                    nos condoléances émues à leurs familles éplorées.
                </article>
                <article>
                    Chaque deuil nous affecte profondément, surtout lorsqu’à cette souffrance, s’ajoute la douleur
                    de la distance, quand le décès survient à l’étranger.
                </article>
                <article>
                    Ainsi, tenant compte de la forte demande de rapatriements de corps de nos compatriotes décédés
                    du COVID-19 à l’étranger, et sur la base d’avis motivés que nous avons recueillis en ce qui concerne
                    les conditions sanitaires, il sera désormais possible de procéder à ces rapatriements.
                </article>
                <article>
                    J’ai donc instruit le Ministre des Affaires étrangères et des Sénégalais de l’Extérieur,
                    en rapport avec le Ministre de la Santé et de l’Action sociale, de faciliter les rapatriements,
                    pour les familles qui le souhaitent, dans le respect des conditions sanitaires requises.
                </article>
                <article>
                    Aux malades et porteurs asymptomatiques du virus, j’adresse nos vœux ardents
                    de prompt rétablissement.
                </article>
                <article>
                    J’invite chacun et chacune d’entre nous à éviter la stigmatisation des malades. Cette
                    stigmatisation n’est pas acceptable. Le COVID-19, je le rappelle, n’est pas de ces maladies dites honteuses.
                    Au demeurant, nul n’est à l’abri d’un virus aussi contagieux. Alors, que chacun adopte une attitude digne
                    et respectueuse vis-à-vis de son prochain.
                </article>

                <p class="mt-2">Mes chers compatriotes,</p>
                <article>
                    Dès l’apparition de la pandémie dans notre pays, j’ai donné instruction au Gouvernement
                    de définir et mettre en œuvre une stratégie adaptée à nos réalités économiques, sociales et culturelles.
                </article>
                <article>
                    C’est pourquoi, en lieu et place du confinement, nous avons opté pour des mesures
                    restrictives visant à limiter la circulation du virus.
                </article>
                <article>
                    Grâce à ces mesures, nous avons pu couper la chaine de transmission par voie importée
                    et maintenir la maladie encore sous contrôle, malgré son rythme de progression.
                    Chacune et chacun de vous a contribué à cette performance par ses sacrifices et ses efforts.
                </article>
                <article>
                    A ce jour, notre pays compte 1886 cas positifs, dont 715 guéris et 19 décédés.
                    Nous avons présentement dans nos structures de santé 1151 malades sous traitement.
                    7182 contacts sont suivis par les Services de santé.
                </article>
                <article>
                    La carte épidémiologique montre que sur les 45 Départements, 22 ne comptent aucun cas de COVID-19.
                    Nous devons nous en féliciter et redoubler de vigilance.
                </article>
                <article>
                    Aujourd’hui, après deux mois de mise à l’épreuve, nous devons sereinement adapter notre stratégie,
                    en tenant compte, une fois de plus, de notre vécu quotidien. J’ai consulté à cet effet une équipe
                    pluridisciplinaire d’éminents experts nationaux.
                </article>
                <article>
                    Il ressort de leurs analyses et évaluations minutieuses que dans le meilleur, des cas,
                    c’est-à-dire si nous continuons d’appliquer les mesures édictées, le COVID-19 continuera encore
                    de circuler dans le pays jusqu’au mois d’août, voire septembre.
                </article>
                <article>
                    Ces projections montrent quel’heure ne doit pas être au relâchement, mais à l’adaptation.
                </article>
                <article>
                    Plus que jamais, l’Etat continuera donc de veiller à l’application des
                    mesures de contingentement de la maladie.
                </article>
                <article>
                    Mais plus que jamais, la responsabilité de chacune et de chacun de nous est engagée.
                </article>
                <article>
                    Dans cette nouvelle phase qui va durer, non pas quelques semaines, mais au moins trois à quatre mois,
                    nous devons désormais apprendre à vivre en présence du virus, en adaptant nos comportements
                    individuels et collectifs à l’évolution de la pandémie.
                </article>
                <article>
                    En conséquence, il nous faut adapter notre stratégie, de façon à mener nos activités essentielles
                    et faire vivre notre économie, en veillant à la préservation de notre santé et celle de la communauté.
                </article>
                <article>
                    Au regard de ces considérations, j’ai décidé de l’assouplissement des conditions
                    de l’état d’urgence comme suit :
                </article>
                <article>
                    A compter du mardi12 mai 2020, les horaires du couvre-feu seront de 21 heures à 5 heures,
                    au lieu de 20 heures à 6 heures. Les horaires de bureau sont réaménagés de 9 heures à 16 heures.
                </article>
                <article>
                    Les marchés et autres commerces qui étaient astreints à des jours particuliers d’ouverture
                    seront ouverts 6 jours et resteront fermés un jour dédié au nettoiement. Ce jour sera déterminé
                    par l’autorité compétente en fonction des contingences locales.
                </article>
                <article>
                    Les marchés hebdomadaires, communément appelésloumas, seront rouverts, mais dans
                    les limites de chaque Département.
                </article>
                <article>
                    Il sera également procédé à la réouverture des lieux de culte. Le Ministre de l’Intérieur,
                    en rapport avec le Ministre de la Santé et de l’Action sociale, engagera les consultations nécessaires
                    à cet effet avec les guides spirituels et les Associations religieuses,
                    pour convenir des conditions et modalités.
                </article>
                <article>
                    S’agissant de l’école, les cours reprendront le 2 juin pour les classes d’examen,
                    c’est à dire pour les classes de CM2, Troisième et Terminale ; soit 551 000 élèves, du public et du privé
                    réunis, sur les 3 500 000.L’année scolaire et le calendrier des examens seront adaptés en conséquence.
                </article>
                <article>
                    Les élèves des autres classes continueront de suivre les cours à partir du dispositif
                    Apprendre à la maison, décliné dans ses plateformes télévisuelle, radiophonique et numérique.
                </article>
                <article>
                    En ce qui concerne l’Université, le Ministre en charge de l’Enseignement supérieur
                    poursuivra les concertations avec les différentes académies pour aménager les enseignements à distance.
                </article>
                <article>
                    Le Gouvernement veillera particulièrement à ce que la fréquentation des lieux de culte,
                    des établissements scolaires et autres espaces publics, des marchés, et autres commerces, y compris
                    les restaurants, obéisse strictement aux mesures de distanciation physique et aux gestes barrière ;
                    notamment le port obligatoire du masque et le lavage des mains.
                </article>
                <article>
                    Partout, le respect de ces conditions est essentiel pour éviter des risques de contamination.
                    Le Gouvernement y veillera de près et prendra, le cas échéant, toutes les mesures appropriées
                    afin de prévenir la propagation du virus.
                </article>
                <article>
                    Déjà, 10 millions de masques ont été produits localement. Ils seront distribués dans les écoles,
                    les lieux de culte, les marchés et les transports publics.
                </article>
                <article>
                    Ensemble, chacun jouant pleinement son rôle, nous réussirons le pari de
                    redynamisation progressive de la vie nationale.
                </article>
                <article>
                    Dans le même esprit, avec l’hivernage qui s’annonce, j’ai demandé au Gouvernement
                    de prévoir les assouplissements nécessaires au transport public, afin de permettre
                    aux travailleurs agricoles de rejoindre leurs localités.
                </article>
                <article>
                    C’est le lieu pour moi de remercier nos guides religieux, musulmans et chrétiens,
                    pour leur pleine participation à notre combat commun contre le COVID-19. Je compte sur leur
                    soutien continu pour l’application des mesures d’adaptation dans
                    cette nouvelle phase que nous engageons.
                </article>
                <article>
                    Je remercie les parents d’élèves, les enseignants, personnels d’encadrement et partenaires sociaux.
                    Tous restent actifs dans la gestion de cette crise majeure qui affecte aussi l’école.
                </article>
                <article>
                    Je remercie également le secteur privé et les syndicats de travailleurs,
                    pour leur résilience dans ce contexte si particulier.
                </article>

                <p class="mt-2">Mes chers compatriotes,</p>
                <article>
                    Alors que nous faisons face à une crise sans précédent, je suis heureux de constater que loin de
                    céder à la résignation, nous puisons chaque jour dans le génie créateur de notre peuple les ressources
                    nécessaires à notre résilience commune.
                </article>
                <article>
                    Je pense à toutes ces initiatives locales qui fleurissent face au COVID-19. Je pense aux tailleurs
                    qui confectionnent des masques, aux étudiants, enseignants et chercheurs qui fabriquent
                    des gels hydro alcooliques, qui inventent des robots, des respirateurs artificiels
                    et des machines à laver les mains. Je pense aux concepteurs de plateformes de commerce
                    électronique et aux livreurs qui offrent leurs services pour nous éviter des déplacements
                    propices aux risques de contamination.
                </article>
                <article>
                    Toutes ces compétences et ces savoir-faire locaux nous parlent, pour nous dire que rien ne
                    peut épuiser la force mentale d’un peuple résolu à affronter les épreuves et maîtriser son destin.
                </article>
                <article>
                    Dans le plan de relance de l’économie nationale, post COVID-19, j’ai la ferme intention de
                    soutenir toutes ces énergies positives et toutes ces intelligences créatives, parce qu’elles
                    portent les promesses généreuses d’un futur plus moderne et plus prospère.
                </article>
                <article>
                    Alors, restons mobilisés et confiants, mes chers concitoyens. Restons mobilisés, unis et
                    solidaires pour baliser la voie du futur ; celle de l’endurance et du succès au bout de l’effort.
                </article>
                <p> Bonsoir.</p>
            </p>
        </div>
    </div>
{% endblock %}

{% block section5 %}
     <!--  footer -->
    <footer>
        <div class="null">
        <a href="https://covid19.sec.gouv.sn/" target="_blank">
            <img src="{{ url_for('static', filename='img/presidence.png') }}" class="img-fluid" alt="">
        </a>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row" style="padding-top: 30px">
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>Resources</h3>
                            <ul class="menu_footer">
                                <li><a href="javascript:void(0)">Accueil</a><li>
                                <li><a href="javascript:void(0)">Covid Map</a><li>
                                <li> <a href="javascript:void(0)">Contact</a><li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>About</h3>
                            <p>La maladie à coronavirus 2019 (COVID-19) est une ‎maladie infectieuse due à
                                un coronavirus découvert ‎récemment.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3  text_align_left">
                            <h3>Contactez Nous</h3>
                            <ul class="top_infomation">
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Making this the first true
                                </li>
                                <li><i class="fa fa-phone" aria-hidden="true" href="tel:800005050"></i>
                                    Numero vert : 800 00 50 50
                                </li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">Mail: sabiarist@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>Situation Covid-19 au Sénégal</h3>
                            <div class="map">
                                <a href="https://buff.ly/2AQNleQ" target="_blank">
                                    <img src="{{ url_for('static', filename='img/map.png') }}"
                                    alt="Ministère de la Santé et de l'Action Sociale"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p>© 2020 Design by <a href="https://www.malt.com/profile/aristidesabi">
                                Aristide Sabi</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
{% endblock %}