{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block page_title %}Covid19 | Sénégal{% endblock %}

{% block nav %}
    {{ super() }}
    <div class="full_bg">
        <!-- header inner -->
        <div class="section">
            <!-- carousel code -->
            <div id="banner1" class="carousel slide slider_main">
                <ol class="carousel-indicators ">
                    <li data-target="#banner1" data-slide-to="0" class="indicator-li-1">01</li>
                    <li data-target="#banner1" data-slide-to="1" class="">02</li>
                    <li data-target="#banner1" data-slide-to="2" class="active">03</li>
                </ol>
                <div class="carousel-inner">
                    <!-- first slide -->
                    <div class="carousel-item active">
                        <div class="carousel-caption cuplle">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="photog">
                                            <h1>Soin précoce<br>Coronavirus</h1>
                                            <a class="read_more" href="javascript:void(0)" >Lire tout l'article</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- second slide -->
                    <div class="carousel-item">
                        <div class="carousel-caption cuplle">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="photog">
                                            <h1>Soin précoce<br>Coronavirus</h1>
                                            <a class="read_more" href="javascript:void(0)" >Lire tout l'article</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- controls -->
                <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Precedent</span>
                </a>
                <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ super() }}
    <a href="/contact/">
        <button type="button"  class="btn btn btn-outline-success btn-lg btn-block mt-3 mb-1">
        Message à la Nation du Président Macky Sall du 11 mai</button>
    </a>

{% endblock %}

{% block setcion1 %}
    <!-- coronata -->
    <div class="coronata">
        <div class="container">
            <div class="row d_flex grid">
                <div class="col-md-7">
                    <div class="coronata_img text_align_center">
                        <figure><img src="{{ url_for('static', filename='img/corona.png') }}" alt="#"/></figure>
                    </div>
                </div>
                <div class="col-md-5 oder1">
                    <div class="titlepage text_align_left">
                        <h2>Coronavirus qu'est-ce que c'est?</h2>
                        <p>La maladie à coronavirus 2019 (COVID-19) est une ‎maladie infectieuse due à
                            un coronavirus découvert ‎récemment. ‎
                            La majorité des personnes atteintes de la COVID-19 ‎
                            ne ressentiront que des symptômes bénins ou ‎modérés et guériront sans traitement particulier.
                            ‎
                        </p>
                        <a class="read_more" href="#">Lire Tout L'article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end coronata -->
{% endblock %}

{% block setcion2 %}
    <!-- protect -->
    <div class="protect">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <div style="width:150px; margin: 0 auto;">
                            <figure><img src="{{ url_for('static', filename='img/exclamation-triangle-solid.svg') }}"
                                         alt="#"/>
                            </figure>
                        </div>
                        <h2>RESTEZ CHEZ VOUS. SAUVEZ DES VIES.</h2>
                        <h3>Contribuez à arrêter le coronavirus.</h3>
                        <p>
                            RESTEZ chez vous autant que possible ‎<br>
                            ‎  GARDEZ une distance de sécurité  ‎<br>
                            ‎  LAVEZ-VOUS souvent les mains  ‎<br>
                            ‎  COUVREZ-VOUS la bouche quand vous toussez  ‎<br>
                            ‎  VOUS ÊTES MALADE? Appelez votre médecin  ‎
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="protect_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--  Demos -->
                        <div class="owl-carousel owl-theme owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-1155px, 0px, 0px);
                                transition: all 0.25s ease 0s; width: 3465px;">
                                    <div class="owl-item cloned" style="width: 370px; margin-right: 15px;">
                                        <div class="item">
                                            <div class="protect_box text_align_center">
                                                <div class="desktop">
                                                    <i><img src="{{ url_for('static', filename='img/pro1.png') }}"
                                                            alt="#">
                                                    </i>
                                                    <h3> Wear Mask</h3>
                                                    <span> Many desktop publishing packages and web page editors
                                                        now use Lorem Ipsum as their default model text, and a search for
                                                    </span>
                                                </div>
                                                <a class="read_more" href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 370px; margin-right: 15px;">
                                        <div class="item">
                                            <div class="protect_box text_align_center">
                                                <div class="desktop">
                                                    <i><img src="{{ url_for('static', filename='img/pro2.png') }}" alt="#">
                                                    </i>
                                                    <h3> Wash Your Hands</h3>
                                                    <span> Many desktop publishing packages and web page editors
                                                    now use Lorem Ipsum as their default model text, and a search for
                                                    </span>
                                                </div>
                                                <a class="read_more" href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 370px; margin-right: 15px;">
                                        <div class="item">
                                            <div class="protect_box text_align_center">
                                                <div class="desktop">
                                                    <i><img src="{{ url_for('static', filename='img/pro3.png') }}"
                                                            alt="#"></i>
                                                    <h3> Stay at Home</h3>
                                                    <span> Many desktop publishing packages and web page editors
                                                    now use Lorem Ipsum as their default model text, and a search for
                                                    </span>
                                                </div>
                                                <a class="read_more" href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 370px; margin-right: 15px;">
                                        <div class="item">
                                            <div class="protect_box text_align_center">
                                                <div class="desktop">
                                                    <i><img src="{{ url_for('static', filename='img/pro1.png') }}"
                                                            alt="#"></i>
                                                    <h3> Wear Mask</h3>
                                                    <span> Many desktop publishing packages and web page editors
                                                        now use Lorem Ipsum as their default model text, and a search for
                                                    </span>
                                                </div>
                                                <a class="read_more" href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 370px; margin-right: 15px;">
                                        <div class="item">
                                            <div class="protect_box text_align_center">
                                                <div class="desktop">
                                                    <i><img src="{{ url_for('static', filename='img/pro2.png') }}"
                                                            alt="#"></i>
                                                    <h3> Wash Your Hands</h3>
                                                    <span> Many desktop publishing packages and web page editors now use
                                                        Lorem Ipsum as their default model text, and a search for
                                                    </span>
                                                </div>
                                                <a class="read_more" href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 370px; margin-right: 15px;">
                                        <div class="item">
                                            <div class="protect_box text_align_center">
                                                <div class="desktop">
                                                    <i><img src="{{ url_for('static', filename='img/pro3.png') }}"
                                                            alt="#"></i>
                                                    <h3> Stay at Home</h3>
                                                    <span> Many desktop publishing packages and web page editors
                                                        now use Lorem Ipsum as their default model text, and a search for
                                                    </span>
                                                </div>
                                                <a class="read_more" href="#">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end protect -->
{% endblock %}

{% block section3 %}
    <!-- cases -->
    <div class="cases">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center ">
                        <h2>Coronavirus Cases</h2>
                        <p>making this the first true generator on the Internet. It uses a dictionary of over
                        200 Latin words, combined with a handful
                        </p>
                    </div>
                </div>
            </div>
            <div class="row d_flex" id="cases">
                <div class=" col-md-4">
                    <div class="latest text_align_center">
                        <figure><img src="{{ url_for('static', filename='img/cases1.png') }}" alt="#"/></figure>
                        <a class="read_more" href="#">Read More</a>
                        <div class="nostrud">
                            <h3>Cases 01</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable
                                content of a page when looking at its layout. The point of using Lorem Ipsum is that it
                                has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                content here', making it look
                            </p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="latest text_align_center">
                        <figure><img src="{{ url_for('static', filename='img/cases2.png') }}" alt="#"/></figure>
                        <a class="read_more" href="#">Read More</a>
                        <div class="nostrud">
                            <h3>Cases 02</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                more-or-less normal distribution of letters, as opposed to using 'Content here,
                                content here', making it look
                            </p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="latest text_align_center">
                        <figure><img src="{{ url_for('static', filename='img/cases3.png') }}" alt="#"/></figure>
                        <a class="read_more" href="#">Read More</a>
                        <div class="nostrud">
                            <h3>Cases 03</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                                a more-or-less normal distribution of letters, as opposed to using 'Content here,
                                content here', making it look
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end cases -->
{% endblock %}

{% block section4 %}
    <!-- doctors -->
    <div class="doctors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center ">
                        <h2>What doctors say..</h2>
                    </div>
                </div>
            </div>
            <div class="row d_flex">
                <div class=" col-md-6">
                    <div id="ho_efcet" class="reader text_align_center">
                        <i><img src="{{ url_for('static', filename='img/doctor1.png') }}" alt="#"/></i>
                        <h3>Dr.Golap den</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here', making it look
                        </p>
                        <span><img src="{{ url_for('static', filename='img/do.png') }}" alt="#"/></span>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div id="ho_efcet" class="reader text_align_center">
                        <i><img src="{{ url_for('static', filename='img/doctor2.png') }}" alt="#"/></i>
                        <h3>Dr.Golap den</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here', making it look
                        </p>
                        <span><img src="{{ url_for('static', filename='img/do.png') }}" alt="#"/></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end doctors -->
{% endblock %}

{% block section5 %}
     <!--  footer -->
    <footer>
        <div class="null">
        <a href="https://covid19.sec.gouv.sn/" target="_blank">
            <img src="{{ url_for('static', filename='img/presidence.png') }}" class="img-fluid" alt="">
        </a>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row" style="padding-top: 30px">
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>Resources</h3>
                            <ul class="menu_footer">
                                <li><a href="javascript:void(0)">Accueil</a><li>
                                <li><a href="javascript:void(0)">Covid Map</a><li>
                                <li> <a href="javascript:void(0)">Contact</a><li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>About</h3>
                            <p>La maladie à coronavirus 2019 (COVID-19) est une ‎maladie infectieuse due à
                                un coronavirus découvert ‎récemment.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="hedingh3  text_align_left">
                            <h3>Contactez Nous</h3>
                            <ul class="top_infomation">
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Making this the first true
                                </li>
                                <li><i class="fa fa-phone" aria-hidden="true" href="tel:800005050"></i>
                                    Numero vert : 800 00 50 50
                                </li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">Mail: sabiarist@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="hedingh3 text_align_left">
                            <h3>Situation Covid-19 au Sénégal</h3>
                            <div class="map">
                                <a href="https://buff.ly/2AQNleQ" target="_blank">
                                    <img src="{{ url_for('static', filename='img/map.png') }}"
                                    alt="Ministère de la Santé et de l'Action Sociale"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p>© 2020 Design by <a href="https://www.malt.com/profile/aristidesabi">
                                Aristide Sabi</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
{% endblock %}
